{% extends "base.html" %}

{% block start %}

        <main>

            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="section-overlay"></div>
                
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <div class="hero-section-text mt-5">
                                <h6 class="text-white">Are you looking for your dream job?</h6>

                                <h1 class="hero-title text-white mt-4 mb-4">Online Platform. <br> Best Job portal</h1>

                                <a href="#categories-section" class="custom-btn custom-border-btn btn">Browse Categories</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <form class="custom-form hero-form" >
                                <h3 class="text-white mb-3">Search your dream job</h3>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-person custom-icon"></i></span>

                                            <!-- <input type="text" name="job-title" id="job-title" class="form-control" placeholder="Job Title" required> -->
                                            <select class="form-select form-control" name="jobrole" id="jobrole" aria-label="Default select example">
                                                <option selected>Job Role</option>
                                                <option value="web-development-">Web Development</option>
                                                <option value="android-app-development-">Andoid Development</option>
                                                <option value="front-end-development-">React Native</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 col-md-4 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>

                                            <select class="form-select form-control" name="job-level" id="job-level" aria-label="Default select example">
                                                <option selected>Level</option>
                                                <option value="1">Internship</option>
                                                <option value="2">Junior</option>
                                                <option value="2">Senior</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><i class="bi-geo-alt custom-icon"></i></span>

                                            <!-- <input type="text" name="job-location" id="job-location" class="form-control" placeholder="Location" required> -->
                                            <select class="form-select form-control" name="joblocation" id="joblocation" aria-label="Default select example">
                                                <option selected>Location</option>
                                                <option value="internship-in-kolkata">Kolkata</option>
                                                <option value="internship-in-bangalore">Banglore</option>
                                                <option value="internship-in-mumbai">Mumbai</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <button type="submit" class="form-control">
                                            Find a job
                                        </button>
                                    </div>

                                    <div class="col-12">
                                        <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                                            <span class="text-white mb-lg-0 mb-md-0 me-2">Popular keywords:</span>

                                            <div>
                                                <a href="job-listings.html" class="badge">Web design</a>

                                                <a href="job-listings.html" class="badge">Marketing</a>

                                                <a href="job-listings.html" class="badge">Customer support</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <section class="job-section job-featured-section section-padding" id="job-section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 text-center mx-auto mb-4">
                            <h2>Featured Jobs</h2>

                            <p><strong>Amazing jobs</strong> that can be helpful for you.</p>
                        </div>
                        {% for n in details %}
                        <div class="col-lg-12 col-12">
                            <div class="job-thumb d-flex">
                                <div class="job-image-wrap bg-white shadow-lg">
                                    <img src="https://api.instade.io/static/images/logos/internshala.png" class="job-image img-fluid" alt="">
                                </div>

                                <div class="job-body d-flex flex-wrap flex-auto align-items-center ms-4">
                                    <div class="mb-3">
                                        <h4 class="job-title mb-lg-0">
                                            <a href="{{n.apply}}" class="job-title-link" target="_blank">{{n.title}}</a>
                                        </h4>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <p class="job-location mb-0">
                                                <!-- <i class="custom-icon bi-geo-alt me-1"></i> -->
                                                <!-- {{n.wk_location}} -->
                                            </p>

                                            <p class="job-date mb-0">
                                                <!-- <i class="custom-icon bi-clock me-1"></i> -->
                                                <!-- 10 hours ago -->
                                            </p>

                                            <p class="job-price mb-0">
                                                <i class="custom-icon bi-cash me-1"></i>
                                                {{n.stipends}}
                                            </p>

                                            <div class="d-flex">
                                                <p class="mb-0">
                                                    <!-- <a href="job-listings.html" class="badge badge-level">Internship</a> -->
                                                </p>

                                                <p class="mb-0">
                                                    <!-- <a href="job-listings.html" class="badge">Freelance</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="job-section-btn-wrap">
                                        <a href="{{n.apply}}" class="custom-btn btn" target="_blank">Apply now</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>





            <section class="cta-section">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-10">
                            <h2 class="text-white mb-2">The are many jobs😀</h2>

                            <p class="text-white">Work hard to get them.</p>
                        </div>

                        <!-- <div class="col-lg-4 col-12 ms-auto">
                            <div class="custom-border-btn-wrap d-flex align-items-center mt-lg-4 mt-2">
                                <a href="#" class="custom-btn custom-border-btn btn me-4">Create an account</a>

                                <a href="#" class="custom-link">Post a job</a>
                            </div>
                        </div> -->

                    </div>
                </div>
            </section>
        </main>

        {% endblock %}